{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict</title>
    <meta name="viewpoint"content="width-device-width,initial-scale=1">
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        div{
            padding:15px;
        }
        input[type=submit]{
            background-color:Black;
            color:white;
            cursor:pointer;
            padding: 16px 32px;
        }
        h1{
            font-size:40px;
            color:rgb(255, 255, 255);
        }
        h2{
            font-size:30px;
            color:rgb(255, 255, 255);
        }
        body{
            background-image:url("{%static 'paul-mocan-8plEFpCXJfQ-unsplash.jpg'%}");
            background-size:cover;
            background-repeat:no-repeat;
        }
    </style>
</head>
<body style="text-align:center">    
  <div class="main">
        <h1> Enter the following values: </h1>
       <form action="result">
            <div class="row">
                <div class="col-sm-4"style="background-color:Bisque;">
                    <label for="option" >Airlines:</labe1>
                    <select name="n1" id="n1">
                    <option value="Vistara">Vistara</option>
                    <option value= 'Air_India' >Air_India</option>
                    <option value= "Indigo" >Indigo</option>
                    <option value= "GO_FIRST">GO_FIRST</option>
                    <option value= "AirAsia">AirAsia</option>
                    <option value= "SpiceJet">SpiceJet</option>       
                    </select>
                </div>

                  <div class="col-sm-4"style="background-color:Bisque;">
                      <label for="option" >Sourcecity:</labe1>
                      <select name="n2" id="n2">
                      <option value="Delhi">Delhi</option>
                      <option value= 'Chennai' >Chennai</option>
                      <option value= "Mumbai" >Mumbai</option>
                      <option value= "Hyderabad">Hyderabad</option>
                      <option value= "Kolkata">Kolkata</option>
                      <option value= "Bangalore">Bangalore</option>
                      </select>
                  </div>

                  <div class="col-sm-4"style="background-color:Bisque;">
                    <label for="option" >Destinationcity:</labe1>
                    <select name="n3" id="n3">
                    <option value="Bangalore">Bangalore</option>
                    <option value= 'Delhi' >Delhi</option>
                    <option value= "Hyderabad" >Hyderabad</option>
                    <option value= "Kolkata">Kolkata</option>
                    <option value= "Chennai">Chennai</option>
                    <option value= "Mumbai">Mumbai</option>
                    </select>
                </div>
            </div>     
            <div class="row">
                  <div class="col-sm-4"style="background-color:Bisque;">
                    <label for="option" >Stops:</labe1>
                    <select name="n4" id="n4">
                    <option value="0">0</option>
                    <option value= '1' >1</option>
                    <option value= "2" >2</option>
                    </select>
                  </div>

                  <div class="col-sm-4"style="background-color:Bisque;">
                    <label for="option" >Cabinclass:</labe1>
                    <select name="n5" id="n5">
                    <option value="Economy">Economy</option>
                    <option value= 'Business' >Business</option>
                    </select>
                  </div>

                  <div class="col-sm-4"style="background-color:Bisque;">
                    <label for="option" >Day:</labe1>
                    <select name="n6" id="n6">
                    <option value= '1' >1</option>
                    <option value="2">2</option>
                    <option value= '3' >3</option>
                    <option value="4">4</option>
                    <option value= '5' >5</option>
                    <option value="6">6</option>
                    <option value= '7' >7</option>
                    <option value="8">8</option>
                    <option value= '9' >9</option>
                    <option value="10">10</option>
                    <option value= '11' >11</option>
                    <option value="12">12</option>
                    <option value= '13' >13</option>
                    <option value="14">14</option>
                    <option value= '15' >15</option>
                    <option value="16">16</option>
                    <option value= '17' >17</option>
                    <option value="18">18</option>
                    <option value= '19' >19</option>
                    <option value="20">20</option>
                    <option value= '21' >21</option>
                    <option value="22">22</option>
                    <option value= '23' >23</option>
                    <option value="24">24</option>
                    <option value= '25' >25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value= '28' >28</option>
                    <option value="29">29</option>
                    <option value= '30' >30</option>
                    <option value="31">31</option>
                    </select>
                </div>
                  </div>
             </div>     
             <div class="row">
              <div class="col-sm-4"style="background-color:Bisque;">
                <label for="option" >Month:</labe1>
                <select name="n7" id="n7">
                <option value= '1' >1</option>
                <option value="2">2</option>
                <option value= '3' >3</option>
                <option value="4">4</option>
                <option value= '5' >5</option>
                <option value="6">6</option>
                <option value= '7' >7</option>
                <option value="8">8</option>
                <option value= '9' >9</option>
                <option value="10">10</option>
                <option value= '11' >11</option>
                <option value="12">12</option>
                </select>
            </div>

              <div class="col-sm-4"style="background-color:Bisque;">
                  <label for="option" >Year:</labe1>
                  <select name="n8" id="n8">
                  <option value= '2019' >2019</option>
                  <option value="2020">2020</option>
                  <option value= '2021' >2021</option>
                  <option value="2022">2022</option>
                  <option value="2022">2023</option>
                  </select>
            </div>
            </div>
            <div class ="row">
                <input type="submit" value="predict">
            </div>
       </form>
       <div class="row">
         <h2>{{result2}}</h2>
       </div>
    </div>
</body>
</html>